@import "tailwindcss";

@theme {
    --color-brand: #4F46E5;
    --color-brand-hover: #4338CA;
    --color-brand-green: #00A86B;

    /*Font Style*/
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Great Vibes", cursive;
}
